body {
    background: #1e202f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculadora {
    background: #1f272eb9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#display {
    width: none;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: #000;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 64.5px);
    grid-template-rows: repeat(5, 60px);
    gap: 10px;
}

button {
    width: 100%;
    height: 100%;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #3e3e55;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: #57577a;
}

.zero {
    grid-column: span 2;
}

.igual {
    background: #f18d13;
    grid-row: span 2;  
}

.igual:hover {
    background: #ffa733;
}
